<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "Vicente Baixauli" %></title>

    <link href="http://fonts.googleapis.com/css?family=Raleway:600,400,200" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "foundation", "normalize", "all" %>
    <%= javascript_include_tag "modernizr", "jquery", "foundation" %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>

  <body class="<%= page_classes %>">

    <div class="row">
      <div class="small-12 medium-4 large-6 columns namelogo">
        <h1>Vicente Baixauli</h1>
        <p>Senior Software Engineer</p>
      </div>
      <div class="small-12 medium-8 large-6 columns text-center">
        <div class="nav-bar">
          <ul class="button-group">
            <li><a href="/" class="button">Home</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row about">
      <div class="medium-6 large-8 columns text-center">
        <h4>About me</h4>
        <p>I love programming and I like learning new stuff every day.</p>
        <p>I'm totally into eXtreme Programming (XP), their principles, values and practices, like Test-Driven Development, pair programming, continuous integration, refactoring, collective code ownership...</p>
        <p>I also love working using agile methodologies, helping product owners to refine user histories, or slicing a feature in smaller ones to always deliver value often.</p>
      </div>
      <div class="medium-6 large-4 columns text-center">
        <%= image_tag 'vicente_2016.jpg' %>
      </div>
    </div>

    <%= yield %>

    <div class="row contact text-center">
      <hr>
      <div class="small-12 medium-6 large-3 columns">
        <strong>Email</strong>: <a href="mailto:c8a0ada4a4a788bea1aaa9a1a0adbae6aba7a5"><span class="__cf_email__" data-cfemail="c8a0ada4a4a788bea1aaa9a1a0adbae6aba7a5">[email protected]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);c.parentNode.href=c.parentNode.href.replace(a,e);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <strong>Twitter</strong>: <a href="https://twitter.com/vibaiher">@vibaiher</a>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <strong>GitHub</strong>: <a href="http://github.com/vibaiher">@vibaiher</a>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <strong>LinkedIn</strong>: <a href="https://www.linkedin.com/in/vibaiher">@vibaiher</a>
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="large-6 medium-6 small-12 columns text-center">
          <p>Copyright © <%= Time.now.year %></p>
        </div>
        <div class="large-6 medium-6 small-12 columns text-center">
          <p>Built with <a href="https://middlemanapp.com/">Middleman</a> and <a href="http://foundation.zurb.com/">Foundation</a></p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns text-center">
          <p>Hosted by <%= link_to image_tag('iukanet.png'), 'http://www.iukanet.com/' %></p>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "foundation.clearing" %>
    <%= google_analytics_universal_tag %>

  </body>
</html>
