---
pageable: true
per_page: 10
---

<div class="row articles">
  <div class="large-12 columns">
    <h4>Latest posts</h4>
  </div>

  <% page_articles.each_with_index do |article, i| %>
    <div class="large-12 columns">
      <h2 class="text-center"><%= link_to article.title, article %> <span><%= article.date.strftime('%B %e, %Y') %></span></h2>
      <p><%= article.summary(250) %></p>
      <%= link_to 'Read more', article %>
    </div>
  <% end %>

  <% if paginate %>
    <div class="medium-6 large-4 columns text-center">
      <% if prev_page %>
        <p><%= link_to 'Previous page', prev_page %></p>
      <% end %>
      <% if next_page %>
        <p><%= link_to 'Next page', next_page %></p>
      <% end %>
    </div>
  <% end %>

</div>
