---
pageable: true
per_page: 10
---

<div class="takeover" style="background-image: url('/images/blog-header.jpg');">
  <div class="row">
    <div class="large-12 columns text-center">
      <h2>Latest posts</h2>
    </div>
  </div>
</div>

<div class="row articles">
  <% page_articles.each_with_index do |article, i| %>
    <div class="large-12 columns article">
      <h2 class="text-center">
        <%= article.date.strftime('%B %e, %Y') %>: <%= link_to article.title, article %>
      </h2>
      <%= article.summary(250) %>
      <%= link_to 'Read more', article, class: 'button radius' %>
    </div>
  <% end %>

  <% if paginate %>
    <div class="medium-6 large-4 columns text-center">
      <% if prev_page %>
        <p><%= link_to 'Previous page', prev_page %></p>
      <% end %>
      <% if next_page %>
        <p><%= link_to 'Next page', next_page %></p>
      <% end %>
    </div>
  <% end %>
</div>
